@import '../../styles/helpers/mixins';

.profile-page-container {
  display: flex;
  align-items: center;

  @include respond-to(phone) {
    flex-direction: column;
  }
  @include respond-to(toTablet) {
    flex-direction: column;
  }
  @include respond-to(tablet) {
    flex-direction: column;
  }

}

.profile-page-nav {
  border: none;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
  

  @include respond-to(phone) {
    height: auto;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1.2rem;
  }
  @include respond-to(toTablet) {
    height: auto;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1.2rem;
  }
  @include respond-to(tablet) {
    height: auto;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 1.2rem;
  }
 
}
.profile-page-link {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;  

  &:hover {
    cursor: pointer;
    background: lighten($color: #333, $amount: 70%);
    border-bottom: .1rem solid #EBEBF2;
    border-right: .1rem solid #444268;
  }
}

.profile-page-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
