@import '../../../styles/helpers/mixins';
@import '../../../styles/common/variables';

.page-layout {
  display: flex;
  height: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.site-content {
  padding: 2rem 2rem 0 2rem;
  background: $background-gray;
  margin: 0;
  height: 100vh;

  @include respond-to(phone) {
    padding:  0;
  }


}