.page-layout {
  display: flex;
  height: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 0;
}
.site-content {
  // padding-left: 32rem;
  background: #f0f0f7;
  margin: 0;
  flex: 1;

  h1 {
    margin: 0;
  }
}