.page-layout {
  display: flex;
  height: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.site-content {
  padding: 2rem 2rem 0 2rem;
  background: #f0f0f7;
  margin: 0;
  height: 100vh;
  // flex: 1;

  h1 {
    margin: 0;
  }
}