.chat-container {
  background: #fff;
  box-shadow: 0px 1px 15px 1px #45414e1a;
  width: 90%;

  //temporary
  height: 90%;
  display: flex;
  margin: 2rem auto 0 auto;
}

.conversation {
  flex: 3;
}