@import '../../../styles/helpers/mixins';

.group-chat-form {
  position: relative;
  margin: auto;
  opacity: 1;
  height: 70%;
  width: 50rem;
  z-index: 5;
  background: #fff;
  box-shadow: 0px 1px 15px 1px #45414e1a;


  @include respond-to(phone) {
    width: 90%;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid #333;
  }
  .group-icon-container {
    margin-bottom: 6rem;
    position: relative;
    background-image: linear-gradient(to right top, #7a779f, #7074a8, #6172b1, #4c70bb, #226fc4);
    height: 15rem;
  }

  .group-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.close-btn {
  font-size: 3rem;
  text-decoration: none;
  flex: 1;
  padding-left: 1rem;
  color : #A4AFB7;
  outline: none;


  &:hover {
    cursor: pointer;
    color: #333;
  }
  &:focus {
    outline: none;
  }
}

.button-next {
  position: absolute;
  right: 2rem;
  font-size: 3rem;
  color: #fff;
  padding: 1rem;
  bottom: 1rem;
  border: none;
  width: 7rem;
  height:  7rem;
  border-radius: 50%;
  background-image: linear-gradient(to right top, #7a779f, #7074a8, #6172b1, #4c70bb, #226fc4);
  display: flex;
  outline: none;


  &:hover {
    cursor: pointer;
  }

  i {
    margin: auto;
  }

  &:disabled , &[disabled] {
    background-image: linear-gradient(to right bottom, #676e7a, #7a808a, #8d939a, #a2a6aa, #b7b9bb);
  }
}
.button-prev {
  position: absolute;
  left: 2rem;
  font-size: 3rem;
  color: #fff;
  padding: 1rem;
  bottom: 1rem;
  border: none;
  width: 7rem;
  height:  7rem;
  border-radius: 50%;
  background-image: linear-gradient(to right top, #7a779f, #7074a8, #6172b1, #4c70bb, #226fc4);
  display: flex;
  outline: none;


  &:hover {
    cursor: pointer;
  }

  i {
    margin: auto;
  }
}

.group-participants {
  display: flex;
  padding: 1rem;
  overflow-x: auto;
}

.users-list {
  display: flex;
  flex-direction : column;
  overflow-x: auto;
  margin-top: 3rem;


  &__item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    

    &:hover {
      cursor: pointer;
      background: darken(#fff, 10%);
    }

    &__details {
      font-size: 1.8rem;
      padding-left: 4rem;
    }
  }
}
.btn-success {
  background-image: linear-gradient(to right top, #5cdc8d, #68e179, #7ae662, #90e944, #a8eb12);
}