.auth-container {
	display: flex;
	height: 100vh;
}

.auth-left-side {
	flex:1;
	background: -webkit-linear-gradient(
		31deg,
		rgb(115, 152, 185),
		rgb(59, 20, 90)
	);
	background: linear-gradient(31deg, rgb(115, 152, 185), rgb(59, 20, 90));
}

.auth-right-side {
	flex: 1;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
}