@import '../../../styles/common/variables';

.auth-container {
  display: flex;
  height: 100vh;
}

.auth-left-side {
    flex:1;
	background: $main-bg;
}

.auth-right-side {
	flex: 1;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
}