@import '../../../styles/common/variables';
@import '../../../styles/helpers/mixins';

.auth-container {
  display: flex;
	height: 100vh;

	@include respond-to(phone) {
		width: 100%;
	}
}

.auth-left-side {
	background: $dark-purple;
	flex: 1;

	@include respond-to(phone) {
		width: 100%;
	}
}

.auth-right-side {
	flex: 1;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
	position: relative;
	
	@include respond-to(phone) {
		position: relative;
		width: 100%;
	}

}

.bg-side {

	@include respond-to(phone) {
		display: none;
	} 
	@include respond-to(tablet) {
		display: none;
	} 
	@include respond-to(toTablet) {
		display: none;
	} 

}

.flags-auth-page {
	display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
	margin-left: 3rem;
	position: absolute;
	right: 4rem;
	top: 2rem;
}

