@import '../../../styles/common/variables';
@import '../../../styles/helpers/mixins';


.sidenav {
  background:  $dark-purple;
  width: 30rem;
  left: 0;
  top: 0;
  height: 100%;


  @include respond-to(phone) {
    position: fixed;
    height: 100%;
    width: 60% !important;
    visibility: hidden;
    top: 0;
    bottom: 0;
    z-index: 12;
    transition: 0.3s;
    left: -62%;
    display: flex;
    flex-direction: column;


    &--opened {
      visibility: visible;
      left: 0;
    }
  }
  @include respond-to(toTablet) {
    width: auto;
  }
  @include respond-to(tablet) {
    width: auto;
  }
  @include respond-to(desktop) {
    width: 20rem
  }
  @include respond-to(big-desktop) {
    width: 20rem
  }

  .logo-div {
    display: flex;
    background:darken( $dark-purple, 10%);
    height: $header-height;
  
    .logo-normal {
      display: block;
      @include respond-to(tablet) {
        display: none;
      }
  
      @include respond-to(toTablet) {
        display: none;
      }

    }
    .logo-sm {
      display: none;

      @include respond-to(tablet) {
        display: block;
      }
  
      @include respond-to(toTablet) {
        display: block;
      }
    }
  
    span {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      margin: auto;
      letter-spacing: .2rem;
    } 
  }
 
  &-links--normal {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    @include respond-to(tablet) {
      display: none;
    }

    @include respond-to(toTablet) {
      display: none;
    }
  }
  
  &-links--sm {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-to(tablet) {
      display: flex;
    }

    @include respond-to(toTablet) {
      display: flex;
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 2rem 3rem;
    font-weight: 600;
    border-left: .5rem solid transparent;
    i {
      margin-right: 1rem;
      font-size: 1.7rem;
    }

    &:first-child {
      margin-top: 2rem;
      margin-bottom: 5rem;

      @include respond-to(phone) {
        // margin-top: 10rem;
        margin-bottom: 0;
      }
      @include respond-to(toTablet) {
        margin-top: 10rem;
      }
      @include respond-to(tablet) {
        margin-top: 10rem;
      }
    }

    &:last-child {
      margin-top: 5rem;

      @include respond-to(phone) {
        margin-top: 0;
        margin-bottom: 2rem;
      }
    }
    &:hover {
      background: darken($dark-purple, 10%);
      border-left: .5rem solid $light-purple;
    }
  }

}



