.alert {
    border-radius: .3rem;
    width: 40rem;
    height: 2.5rem;
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;


    &--error {
        background: lighten(red, 40%);
        color: red;
    }

  &--success {
    background: #B2DBBF;
    color: green;
    }
}

