@import '../../../styles/helpers/mixins';
@import '../../../styles/common/variables';

.header {
  min-height: $header-height;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	background: $white;
	box-shadow: 0px 1px 15px 1px #45414e1a;
  
  @include respond-to(phone) {
    justify-content: flex-start;
  }

  .nav {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    position: relative;
    height: auto;
    margin: 0 3rem 0 auto;
    z-index: 1;

    @include respond-to(phone) {
      display: none;
    }
    @include respond-to(toTablet) {
      display: none;
    }
    @include respond-to(tablet) {
      display: none;
    }
 

    &__link {
      display: inline-block;
      margin: 0 .6rem;
      font-size: 2rem;
      text-decoration: none;
      color:$dark-gray;
      padding: 1rem 1.2rem;

      &:hover {
        cursor: pointer;
      }
      }
    }

  .user {
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid $dark-gray;
    padding: 0 1rem 0 3rem;

    &__username {
      font-size: 1.4rem;
      margin-right: 1rem;
      color: #7c648f;
    }
    i {
      font-size: 1.8rem;
      margin-right: 1rem;
      color: $dark-gray;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover .dropdown {
      display: block;
    }

    .dropdown {
      display: none;
      position: absolute;
      min-width: 29.4rem;
      z-index: 5;
      right: -2.3rem;
      top: 5rem;
      background: #fff;
      box-shadow: 0px 1px 15px 1px #45414e1a;

      &__link {
        display: block;
        padding: 1rem;
        font-size: 1.8rem;

        &:hover {
          background: #45414e1a;
          border-top: .1rem solid #45414e1a;
          border-bottom: .1rem solid #45414e1a;
        }
      }
    }
  }
}
.nav-mobile {
  align-items: center;
  display: none;
  margin-left: auto;
  margin-right: 2rem;

  @include respond-to(phone) {
    display: flex;
  }
  @include respond-to(toTablet) {
    display: flex;
  }
  @include respond-to(tablet) {
    display: flex;
  }

  &__link {
    font-size: 2rem;
    color: #BCBCCB;
    padding: 1rem;
    display: block;


    &:hover {
      cursor: pointer;
      color: darken(#BCBCCB, 20%);
    }

    &:first-child{
      display: none;

      @include respond-to(phone) {
        display: block;
      }
    }
  }
}

.hide-search {
  display: block;

  @include respond-to(phone) {
    display: none;
  }
}

.sub-header {
  align-items: center;
  background: $white;
  border-top: .1rem solid #45414e1a;
  width: 100%;
  position: absolute;
  visibility: hidden;
  top: 7rem;
  right: 0;
  height: 0;
  transition: 0.3s;
  z-index: 1;
  display: flex;
  opacity: 0;


  @include respond-to(phone) {
    &--open {
      opacity: 1;
      top: $header-height;
      height: $header-height;
      visibility: visible;
    }
  }
  @include respond-to(toTablet) {
    &--open {
      opacity: 1;
      top: $header-height;
      height: $header-height;
      visibility: visible;
      width: calc(100% - 9rem);
    }
  }
  @include respond-to(tablet) {
    &--open {
      opacity: 1;
      top: $header-height;
      height: $header-height;
      visibility: visible;
      width: calc(100% - 9.4rem);
    }
  }
  
  &__nav {
    margin-left: auto;
    margin-right: 2rem;

    .nav__link {
      font-size: 1.8rem;
      padding: .7rem;
      color: #595687;

      &:hover {
        color: darken(#595687, 20%);
      }
    }
  }
}

.flags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;

  @include respond-to(phone) {
    display: none;
  }
  @include respond-to(toTablet) {
    display: none;
  }
  @include respond-to(tablet) {
    display: none;
  }

  
}