.header {
  min-height: 7rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	background: #fff;
	box-shadow: 0px 1px 15px 1px #45414e1a;
  



  .nav {
    // flex: 2;
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    position: relative;
    height: auto;
    // margin-left: auto;
    margin: 0 3rem 0 auto;

    &__link {
      display: inline-block;
      margin: 0 .6rem;
      font-size: 2rem;
      text-decoration: none;
      color:#cdcdcd;
      // color: red;
      padding: 1rem 1.2rem;
      // background: red;

      &:hover {
        cursor: pointer;
      }
      }
    }

  .user {
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid #cdcdcd;
    padding: 0 1rem 0 3rem;

    &__username {
      font-size: 1.6rem;
      margin-right: 1rem;
      color: #7c648f;
    }
    i {
      font-size: 1.8rem;
      margin-right: 1rem;
      color: #cdcdcd;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover .dropdown {
      display: block;
    }

    .dropdown {
      display: none;
      position: absolute;
      min-width: 29.4rem;
      // border-top: .1rem solid #45414e1a;
      right: -2.3rem;
      top: 5rem;
      background: #fff;
      box-shadow: 0px 1px 15px 1px #45414e1a;

      &__link {
        display: block;
        padding: 1rem;
        font-size: 1.8rem;

        &:hover {
          background: #45414e1a;
          border-top: .1rem solid #45414e1a;
          border-bottom: .1rem solid #45414e1a;
        }
      }
    }
  }


}
