@import '../../../styles/helpers/mixins';

.container {
    display: block;
    position: relative;
    padding-left: 4rem;
    padding-top: .3rem;
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .4rem;
    border: .1rem solid #DADDD8;
    
  }

  .container input:checked ~ .checkmark {
    background-color: #595687;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: .9rem;
    top: .4rem;
    width: .5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .inline-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(phone) {
      flex-direction: column;
      margin-top: 2rem;
    }
  }
.forgot-password-link {
  margin-left: auto;
  font-size: 1.8rem;
  text-decoration: none;

  @include respond-to(phone) {
    font-size: 1.4rem;
  }
}
