@import '../../../styles/helpers/mixins';

.chats-list {
  flex: 1;
  border-right: .1rem solid #F1F1F3;
  overflow-y: auto;

  @include respond-to(phone) {
    display: none;

    &--opened {
      display: block;
    }
  }
  @include respond-to(toTablet) {
    display: none;

    &--opened {
      display: block;
    }
  }
  @include respond-to(tablet) {
    display: none;

    &--opened {
      display: block;
    }
  }
  @include respond-to(desktop) {
    display: none;

    &--opened {
      display: block;
    }
  }

}
.addChat {
  margin-right: 1rem;
  margin-left: auto;
  width: 14rem;
  height: 4.5rem;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0rem .4rem .9rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;


  @include respond-to(phone) {
    width: 12rem;
    height: 4.5rem;
  }
  @include respond-to(toTablet) {
    width: 12rem;
    height: 4.5rem;
  }
  @include respond-to(tablet) {
    width: 12rem;
    height: 4.5rem;
  }

  &:hover {
    background-color: #A3A0FB;
    box-shadow: 0rem .4rem .9rem rgba(58, 59, 116, 0.5);
    color: #fff;
  }
}