.camera-icon {
  display: none;
  position: absolute;
	opacity: 0.7;
	background: #333;
	padding: 1rem;
	font-size: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	border-radius: 50%;
	border: none
}

.avatar-label {
  &:hover {
    .camera-icon {
      display: block;
    }
  }
}