.card {
  width: 35rem;
  background: #fff;
	box-shadow: 0px 1px 15px 1px #45414e1a;
  display: flex;
  flex-direction: column;
  border-bottom: .1rem solid #cdcdcd;
  // temporary
  height: 20rem;

  // card heading
  &__heading {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: #a89e9e;
      
    .status {
      padding: .4rem 2.4rem;
      border-radius: 1.4rem;
      background: red;
      margin-left: auto;
      color: #333;
      font-weight: bold;
    }
  }
  //End of card heading

  // Card content style
  &__content {
    display: flex;

    .content {
      margin: auto;
    }
  }
  // End of card content

  // Card footer styiling
  &__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
    align-items: center;

    .user-avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: .1rem solid #cdcdcd;
    }
    .user-info {
      margin-left: 3rem;
      font-size: 1.5rem;

      &__username {
        font-weight: 600;
      }

      &__time {
        display: block;
        font-size: 1.2rem;
        color: #a89e9e;
      }
    }
  }
  // End of card footer

}